<!-- <ion-header class="bg-white text-[#25D366]"> -->
  <ion-toolbar class="bg-white text-[#25D366]">
    <ion-title class="text-[25px] font-medium">WhatsApp</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="camera-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<!-- </ion-header> -->